/* Palette: http://colorhunt.co/c/9140 */

@import '~turretcss/dist/turretcss.min.css';
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding-left: 260px;
}

.button-primary-reponotes {
  color: black;
  background: #ffb400;
  border-color: #ffb400;
  padding: calc((3rem - 1rem - 2px) / 2) 1em;
}

.button-primary-reponotes:not(:disabled):focus,
.button-primary-reponotes:not(:disabled):hover {
  color: black;
  background: #fcc33c;
  border-color: #fcc33c;
}

input:not(:disabled):focus,
textarea:not(:disabled):focus {
  border-color: #fcc33c;
}

.padding-top-xl,
.padding-vertical-xl {
  padding-top: calc(4rem + 0.05vw);
  padding-bottom: calc(4rem + -0.5vw);
}

@media (max-width: 957px) {
  .main {
    padding-left: 0px;
  }
  .sidebar {
    display: none;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}