/* Palette: http://colorhunt.co/c/9140 */

.main {
  padding-left: 260px;
}

.background-reponotes {
  background-color: #FFB400;
}

.button-primary-reponotes {
  color: black;
  background: #FFB400;
  border-color: #FFB400;
}

.button-primary-reponotes:not(:disabled):focus,
.button-primary-reponotes:not(:disabled):hover {
  color: black;
  background: #fcc33c;
  border-color: #fcc33c;
}

.swatch {
  display: block;
  padding: 1em;
  font-size: 1rem;
}

.padding-top-xl,
.padding-vertical-xl {
  padding-top: calc(4rem + .05vw);
}

@media (max-width: 1024px) {
  .main {
    padding-left: 0px;
  }
  .sidebar {
    display: none;
  }
}